.brdr {
    border: 1px red solid;
}

.wrapper {
    min-height: 100%;
    display: grid;
    /* три строки: шапка, мейн и футер, колонка одна */
    grid-template: auto 1fr minmax(417px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.header {
    grid-area: header;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    /* основной контент шириной 1170px max, отступы по 135px max */
    grid-template: 1fr / 9.3% minmax(auto, 254px) minmax(auto, 916px) 9.3%;
    align-items: center;
}

.header__menubar {
    display: none;
}



.header__logo {
    grid-column: 2 / 3;
}

.header__logo-img {
    max-width: 100%;
    /* min-width: 50px; */
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
}

.header__menu {
    grid-column: 3 / 4;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header__list li {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #333333;
    padding: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.header__link_checked {
    border-top: 1px #333333 solid;
    border-bottom: 1px #333333 solid;

}

.header__link:hover {
    color: #7c7c7c;
    border-top: 1px #7c7c7c solid;
    border-bottom: 1px #7c7c7c solid;
}



@media (max-width: 1023px) {
    .header {
        grid-template: 1fr / 1fr minmax(auto, 254px) minmax(auto, 916px) 1fr;
    }
}


@media (max-width: 767px) {
    .header__menubar {
        display: grid;
        justify-items: end;
        /* color: black; */
    }

    .header__menubar a {
        color: #333333;
    }

    .header__menubar a:hover {
        color: #7c7c7c;
        /* border-top: 1px #7c7c7c solid;
        border-bottom: 1px #7c7c7c solid; */
    }

    .header__list {
        display: none;
    }

}


.main {
    grid-area: main;
}



.delimiter-symbol {
    border: 2px solid #E0E0E0;
    transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
    width: 43.82px;
    height: 0px;
}

.start-block__image {
    /* position: relative; */
    max-width: 100%;

}

.start-block__image-container {
    position: relative;
}

.rectangle {
    /* position: absolute; */
    /* width: 222px;
    height: 71px; */
    width: 13.5rem;
    height: 4rem;
}

.white-rectangle {
    background: #FFFFFF;
}

.black-rectangle {
    background: #333333;
    color: #FFFFFF;
}

.start-block__white-rectangle {
    position: absolute;
    /* width: 222px;
    height: 71px; */
    left: 0px;
    bottom: 0px;
}


.footer {
    grid-area: footer;
    display: grid;
    grid-template: 5fr 1fr / 9.3% 1fr 1fr 1fr 1fr 9.3%;
    grid-template-areas:
        "left-gap"
        "footer-logo"
        "info"
        "conacts"
        "social-media"
        "right-gap"
    ;
    background-color: #2C2C2C;
    color: #C8C8C8;

    padding-top: 2rem;
    /* gap: 3rem; */
}

.footer__logo {
    grid-area: footer-logo;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 1.5rem;
}

.footer__logo-img {
    max-width: 100%;
    min-width: 20px;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
}

.footer__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* display: flex;
    align-items: flex-end; */

    color: #FFFFFF;
}

.footer__information {
    grid-area: info;
    grid-column: 3 / 4;
    grid-row: 1 / 2;

}

.footer__list {
    /* padding: 1rem; */
    padding-left: 0;

}

.footer__list li {
    list-style: none;
    padding: 0.5rem;
    padding-left: 0;
}

.footer__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 171% */

    /* display: flex;
    align-items: flex-start; */
    letter-spacing: 0.03em;
    /* margin-top: 0; */
    color: #FFFFFF;
}

.footer__link:hover {
    color: #7c7c7c;
    /* border-top: 1px #7c7c7c solid;
    border-bottom: 1px #7c7c7c solid; */
}

.footer__conacts {
    grid-area: contacts;
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 25% 1fr / 1fr;

    margin-right: 3rem;
}

.footer__conacts-body {
    display: grid;
    grid-template: 33% 1fr 40% / 12% 1fr;

}

.footer__social-media {
    grid-area: social-media;
    grid-column: 5 / 6;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 25% 1fr / 1fr;
}

.footer__social-media-body {

    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    align-items: start;
}

.footer__social-media-link {
    text-decoration: none;
}

.footer__social-media-link:hover {
    opacity: 0.5;
}

.footer__copyright {
    grid-column: 1 / 7;
    grid-row: 2 / 3;

    display: grid;
    justify-items: center;
    align-items: center;

    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #FFFFFF;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    color: rgba(200, 200, 200, 0.5);
}

/* перестроить футер для маленьких */
@media (max-width: 800px) {
    .wrapper {
        min-height: 100%;
        display: grid;
        /* три строки: шапка, мейн и футер, колонка одна */
        grid-template: auto 1fr minmax(300px, auto) / 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 15% / 1fr minmax(auto, 1170px) 1fr;
        grid-template-areas:
            "left-gap"
            "footer-logo"
            "info"
            "conacts"
            "social-media"
            "right-gap"
        ;
        background-color: #2C2C2C;
        color: #C8C8C8;

        padding-top: 1rem;
        /* gap: 3rem; */
        justify-items: stretch;
    }

    .footer__link {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 11px;
        /* identical to box height, or 171% */

        /* display: flex;
        align-items: flex-start; */
        letter-spacing: 0.03em;
        /* margin-top: 0; */
        color: #FFFFFF;
    }

    .footer__logo {
        grid-area: footer-logo;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        /* margin-top: 1.5rem; */
        display: grid;
        justify-items: center;
        /* align-content: center; */
        /* max-width: 70px; */

    }

    .footer__logo-img {
        max-width: 100%;
        max-width: 70px;
    }

    .footer__information {
        grid-area: info;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: grid;
        justify-items: center;

    }

    .footer__list {
        display: grid;
        grid-auto-flow: column;
        justify-items: end;
        /* margin: 0 0 1rem 1rem; */
    }

    .footer__list li {
        list-style: none;
        padding: 0.5rem;
        padding-left: 0;
    }

    .footer__conacts {
        grid-area: contacts;
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        display: grid;
        justify-items: stretch;
        /* grid-template: 25% 1fr / 1fr; */

        /* margin-right: 3rem; */
    }

    .footer__link-text {
        display: none;
        /* justify-items: stretch; */
    }

    .footer__conacts-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        /* margin-right: 0rem; */
    }

    .footer__social-media {
        grid-area: social-media;
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        display: grid;
        /* grid-template: 25% 1fr / 1fr; */
    }

    .footer__social-media-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .footer__copyright {
        grid-column: 2 / 3;
        grid-row: 5 / 6;

        display: grid;
        justify-items: center;
        align-items: center;

        mix-blend-mode: normal;
        /* opacity: 0.1; */
        border: 1px solid #FFFFFF;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;

        color: white;
    }

    .footer__title {
        display: none;
    }
}