.brdr {
    border: 1px red solid;
}

@media (min-width: 1024px) {

    html,
    body {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 1023px) {

    html,
    body {
        font-size: 10.5px;
        line-height: 10.5px;
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0% 0px;
}

.main__link {
    text-decoration: none;
    color: black;
}

.wrapper {
    min-height: 100%;
    display: grid;
    /* три строки: шапка, мейн и футер, колонка одна */
    grid-template: auto 1fr minmax(417px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    gap: 1rem;
}

.header {
    grid-area: header;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    /* основной контент шириной 1170px max, отступы по 135px max */
    grid-template: 1fr / 9.3% minmax(auto, 254px) minmax(auto, 916px) 9.3%;
    align-items: center;
}

.header__menubar {
    display: none;
}



.header__logo {
    grid-column: 2 / 3;
}

.header__logo-img {
    max-width: 100%;
    /* min-width: 50px; */
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
}

.header__menu {
    grid-column: 3 / 4;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header__list li {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 0.857rem;
    /* identical to box height, or 100% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #333333;
    padding: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.header__link_checked {
    border-top: 1px #333333 solid;
    border-bottom: 1px #333333 solid;

}

.header__link:hover {
    color: #7c7c7c;
    border-top: 1px #7c7c7c solid;
    border-bottom: 1px #7c7c7c solid;
}



@media (max-width: 1023px) {
    .header {
        grid-template: 1fr / 1fr minmax(auto, 254px) minmax(auto, 916px) 1fr;
    }

}


@media (max-width: 767px) {
    .header__menubar {
        display: grid;
        justify-items: end;
        /* color: black; */
    }

    .header__menubar a {
        color: #333333;
    }

    .header__menubar a:hover {
        color: #7c7c7c;
        /* border-top: 1px #7c7c7c solid;
        border-bottom: 1px #7c7c7c solid; */
    }

    .header__list {
        display: none;
    }

}




.footer {
    grid-area: footer;
    display: grid;
    grid-template: 5fr 1fr / 9.3% 1fr 1fr 1fr 1fr 9.3%;
    grid-template-areas:
        "left-gap"
        "footer-logo"
        "info"
        "conacts"
        "social-media"
        "right-gap"
    ;
    background-color: #2C2C2C;
    color: #C8C8C8;

    padding-top: 2rem;
    /* gap: 3rem; */
}

.footer__logo {
    grid-area: footer-logo;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 1.5rem;
}

.footer__logo-img {
    max-width: 100%;
    min-width: 20px;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
}

.footer__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.14rem;
    line-height: 1.357rem;
    /* display: flex;
    align-items: flex-end; */

    color: #FFFFFF;
}

.footer__information {
    grid-area: info;
    grid-column: 3 / 4;
    grid-row: 1 / 2;

}

.footer__list {
    /* padding: 1rem; */
    padding-left: 0;

}

.footer__list li {
    list-style: none;
    padding: 0.5rem;
    padding-left: 0;
}

.footer__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    /* identical to box height, or 171% */

    /* display: flex;
    align-items: flex-start; */
    letter-spacing: 0.03em;
    /* margin-top: 0; */
    color: #FFFFFF;
}

.footer__link:hover {
    color: #7c7c7c;
    /* border-top: 1px #7c7c7c solid;
    border-bottom: 1px #7c7c7c solid; */
}

.footer__conacts {
    grid-area: contacts;
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 25% 1fr / 1fr;

    margin-right: 3rem;
}

.footer__conacts-body {
    display: grid;
    grid-template: 33% 1fr 40% / 12% 1fr;

}

.footer__social-media {
    grid-area: social-media;
    grid-column: 5 / 6;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 25% 1fr / 1fr;
}

.footer__social-media-body {

    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    align-items: start;
}

.footer__social-media-link {
    text-decoration: none;
}

.footer__social-media-link:hover {
    opacity: 0.5;
}

.footer__copyright {
    grid-column: 1 / 7;
    grid-row: 2 / 3;

    display: grid;
    justify-items: center;
    align-items: center;

    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #FFFFFF;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 22px;
    /* identical to box height, or 183% */
    color: rgba(200, 200, 200, 0.5);
}

/* перестроить футер для маленьких */
@media (max-width: 800px) {
    .wrapper {
        min-height: 100%;
        display: grid;
        /* три строки: шапка, мейн и футер, колонка одна */
        grid-template: auto 1fr minmax(300px, auto) / 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 15% / 1fr minmax(auto, 1170px) 1fr;
        grid-template-areas:
            "left-gap"
            "footer-logo"
            "info"
            "conacts"
            "social-media"
            "right-gap"
        ;
        background-color: #2C2C2C;
        color: #C8C8C8;

        padding-top: 1rem;
        /* gap: 3rem; */
        justify-items: stretch;
    }

    .footer__link {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        /* font-size: 0.714rem;
        line-height: 0.785rem; */
        font-size: 0.9rem;
        line-height: 1rem;
        /* identical to box height, or 171% */

        /* display: flex;
        align-items: flex-start; */
        letter-spacing: 0.03em;
        /* margin-top: 0; */
        color: #FFFFFF;
    }

    .footer__logo {
        grid-area: footer-logo;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        /* margin-top: 1.5rem; */
        display: grid;
        justify-items: center;
        /* align-content: center; */
        /* max-width: 70px; */

    }

    .footer__logo-img {
        max-width: 100%;
        max-width: 70px;
    }

    .footer__information {
        grid-area: info;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: grid;
        justify-items: center;

    }

    .footer__list {
        display: grid;
        grid-auto-flow: column;
        justify-items: end;
        /* margin: 0 0 1rem 1rem; */
    }

    .footer__list li {
        list-style: none;
        padding: 0.5rem;
        padding-left: 0;
    }

    .footer__conacts {
        grid-area: contacts;
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        display: grid;
        justify-items: stretch;
        /* grid-template: 25% 1fr / 1fr; */

        /* margin-right: 3rem; */
    }

    .footer__link-text {
        display: none;
        /* justify-items: stretch; */
    }

    .footer__conacts-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        /* margin-right: 0rem; */
    }

    .footer__social-media {
        grid-area: social-media;
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        display: grid;
        /* grid-template: 25% 1fr / 1fr; */
    }

    .footer__social-media-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .footer__copyright {
        grid-column: 2 / 3;
        grid-row: 5 / 6;

        display: grid;
        justify-items: center;
        align-items: center;

        mix-blend-mode: normal;
        /* opacity: 0.1; */
        border: 1px solid #FFFFFF;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.857rem;
        line-height: 22px;

        color: white;
    }

    .footer__title {
        display: none;
    }
}

/* ================================================= */
/* главная часть */
/* ================================================= */

.main {
    grid-area: main;

    display: grid;
    /* grid-template: minmax(auto, 830px) / 9.3% minmax(auto, 1170px) 9.3%; */
    grid-template: 1fr 1fr / 9.3% minmax(auto, 1170px) 9.3%;
    grid-template-areas:
        "start-block"
        "about"
    ;

    gap: 1rem;
}

@media (max-width: 1023px) {

    .main {
        grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
    }

}

/* -------------------- */
/* 1й блок */
/* -------------------- */

.start-block {
    grid-area: start-block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 57% 1fr 1fr 1fr / 1fr 65%;
    /* align-items: ; */
    /* gap: 0px; */
    justify-items: stretch;
    align-items: stretch;

}


.main__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    align-items: end;
    /* margin-bottom: 0px; */
}

.main__title-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 4.571rem;
    line-height: 4.571rem;
    /* identical to box height, or 100% */
    /* Gray 4 */
    color: #BDBDBD;
}

.start-block__subtitle {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    align-items: start;
}

.start-block__subtitle-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4.571rem;
    line-height: 4.571rem;
    /* identical to box height, or 100% */


    /* Gray 1 */

    color: #333333;
}

.start-block__arrows {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.arrow {
    width: 3.3rem;
    height: 3.3rem;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.arrow:hover {
    background-color: #F9F9F9;
}

.slide-numbers {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    /* border: 1px green solid; */
    /* display: inline-block; */

    display: grid;
    /* grid-auto-flow: column; */
    /* justify-items: end; */
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slide-current-num {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.714rem;
    line-height: 1.714rem;
    /* identical to box height, or 100% */


    /* Gray 4 */

    color: #BDBDBD;
}

.slide-next-num {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.714rem;
    line-height: 1.714rem;
    /* identical to box height, or 100% */


    /* Gray 4 */

    color: #BDBDBD;
}

.start-block__image-container {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    /* position: relative;
    overflow: hidden;
    padding: 0px 0px 0% 0px; */
    /* width: 40rem;
    height: 43.064rem; */
}


.delimiter-symbol {
    border: 2px solid #E0E0E0;
    transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
    /* width: 43.82px; */
    width: 2.5rem;
    height: 0px;
    /* padding-top: 1rem; */
    position: relative;
    top: 0.6rem;
}

.start-block__image {
    /* position: absolute; */
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__title_disabled {
    display: none;
    position: absolute;
    /* width: 222px;
    height: 71px; */
    left: 0px;
    top: 0px;
}

.start-block__subtitle_disabled {

    display: none;
    position: absolute;
    /* width: 222px;
    height: 71px; */
    right: 0px;
    top: 0px;

    /* z-index: 10; */

}

.arrow_left_disabled {

    display: none;
    position: absolute;
    /* width: 222px;
    height: 71px; */
    left: 0px;
    top: 50%;
}

.arrow_right_disabled {

    display: none;
    position: absolute;
    /* width: 222px;
    height: 71px; */
    right: 0px;
    top: 50%;
}


.rectangle {
    /* position: absolute; */
    /* width: 222px;
    height: 71px; */
    /* width: 13.5rem;
    height: 4rem; */

    width: 27%;
    height: 10%;
}

.white-rectangle {
    background: #FFFFFF;
}

.white-rectangle:hover {
    background: #eeecec;
}

.black-rectangle {
    background: #333333;
    color: #FFFFFF;
}

.start-block__white-rectangle {
    position: absolute;
    /* width: 222px;
    height: 71px; */
    left: 0px;
    bottom: 0px;
}

.start-block__white-rectangle-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 0.857rem;
    /* identical to box height, or 100% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    /* Gray 1 */

    color: #333333;

    display: grid;
    justify-items: center;
    align-items: center;
}

@media (min-width:1024px) {

    .main {
        /* grid-template: minmax(auto, 584px) / 9.3% minmax(auto, 1170px) 9.3%; */
        /* grid-template-rows: minmax(auto, 584px); */
        grid-template-rows: minmax(auto, 829px) minmax(auto, 600px);

    }

}

@media (min-width:768px) and (max-width: 1023px) {

    .main {
        /* grid-template: minmax(auto, 437px) / 1fr minmax(auto, 1170px) 1fr; */
        grid-template-rows: minmax(auto, 437px) minmax(auto, 310px);
    }

    .start-block {

        display: grid;
        grid-template: 50% 1fr 1fr 1fr / 1fr 60%;

    }

}

@media (max-width: 767px) {

    .main {
        /* grid-template: minmax(auto, 400px) / 1fr minmax(auto, 1170px) 1fr; */
        grid-template-rows: minmax(auto, 400px) minmax(auto, 225px);
    }

    /* перестроить первый блок */
    .start-block {

        display: grid;
        /* grid-template: 50% 1fr 1fr 1fr / 1fr 60%; */
        /* grid-template: 1fr / 1fr; */

        grid-template: 1fr / 1fr 99.99%;

    }

    .main__title {
        display: none;
    }

    .start-block__subtitle {
        display: none;
    }

    .start-block__arrows {
        display: none;
    }

    .slide-numbers {
        display: none;
    }

    .main__title_disabled {
        display: block;
        position: absolute;
        /* width: 222px;
        height: 71px; */
        left: 0px;
        top: 0px;
    }

    .start-block__subtitle_disabled {

        display: block;
        position: absolute;
        /* width: 222px;
        height: 71px; */
        right: 0px;
        top: 4rem;

        /* z-index: 10; */

    }

    .arrow_left_disabled {

        display: block;
        position: absolute;
        /* width: 222px;
        height: 71px; */
        left: 0px;
        top: 50%;
    }

    .arrow_right_disabled {

        display: block;
        position: absolute;
        /* width: 222px;
        height: 71px; */
        right: 0px;
        top: 50%;
    }

    .rectangle {
        width: 40%;
        height: 10%;
    }


}

@media (max-width:280px) {
    .rectangle {
        width: 50%;
        height: 10%;
    }
}



/* -------------------- */
/* 2й блок */
/* -------------------- */


.about {
    grid-area: about;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;

    grid-template-rows: 70% 30%;
    grid-template-columns: 23% 23% 1fr;

    grid-template-areas:
        "about__image-container1"
        "about__image-container2"
        "about__image-container3"
        "about__card"
    ;
    gap: 1rem;

    padding-top: 2rem;
    padding-left: 6rem;
    padding-bottom: 2rem;


    background: linear-gradient(to bottom, #FBFBFB 95%, white 15%);
}

.about__image-container1 {



    grid-area: 1 / 1 / 2 / 2;
}

.about__image-container2 {

    grid-area: 2 / 1 / 3 /2;
}

.about__image-container3 {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    /* padding-top: 3rem; */
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.about__img {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__card {
    grid-area: 1 / 3 / 3 / 4;
    display: grid;
    justify-items: start;
    grid-template-rows: 15% 60% 25%;
}


.about__text-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.142rem;
    line-height: 1.785rem;
    /* or 156% */
    color: #000000;
}

.about__white-rectangle {

    /* border: 1px red solid; */
    width: 53%;
    height: 33%;
}

@media (min-width: 321px) and (max-width: 767px) {

    .about__image-container1,
    .about__image-container2 {
        display: none;
    }

    .about {
        grid-template-rows: 99.99%;
        grid-template-columns: 20% 1fr;
        padding-top: 0rem;
        padding-left: 0rem;
        padding-bottom: 0rem;

        align-items: stretch;

        /* gap: 1rem; */
    }

    .about__image-container3 {
        grid-area: 1 / 1 / 2 / 2;
        /* margin-top: 1rem;
        margin-bottom: 1rem; */

    }

    .about__card {
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        justify-items: start;
        grid-template-rows: 25% 60% 15%;

        border: 1px green solid;
        margin: 0;
    }

    .about__white-rectangle {

        border: 1px red solid;
        width: 53%;
        height: 80%;
    }

}

@media (max-width:320px) {
    .main {
        grid-template-rows: minmax(auto, 400px) minmax(auto, 350px);
    }

    .about {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

        padding: 0;
    }

    .about__card {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        /* justify-items: start; */
        grid-template-rows: 17% 70% 13%;

        /* border: 1px green solid; */
        margin: 0;
    }

    .about__image-container1,
    .about__image-container2 {
        display: none;
    }

    .about__image-container3 {
        display: none;
    }

    .about__white-rectangle {

        border: 1px red solid;
        width: 53%;
        height: 80%;
    }

}